.button {
    border: 1px solid #fff;
    border-radius: 54px;
    padding: 12px 26px 13px;
    width: 153px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: .5);
    }
}
.mission__button {
    margin-top: 30px;
}